.cabecalho__container {
    background-color: white;
    height: 80px;
    width: 100%;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.logo__item {
    background-image: url(../img/cabecalho/Logo.png);
    background-repeat: no-repeat;
    padding: 15px 65px;
    cursor: pointer;
}

.cabecalho__pesquisar__item{
    display: none;
}
