header{
height: 13vh;
}

.navigator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 13vh;
    padding: 0 3.7vh 0 4vh;   
}


.navigator__form{
    display: flex;
    align-items: center;
}
.navigator-input-form{
    border: 1px;
    border-color: rgba(128, 128, 128, 0.367);
    border-style: solid;
    padding: 3px 8px;
    height: 5.1vh;
    width: 25.1vw;
    font-size: 1rem;
}
.navigator-input-image-form{    
    border: 1px;
    border-color: rgba(128, 128, 128, 0.367);
    border-style: solid;
    border-left: none;
    padding: 6px 8.6px;
    height: 5.1vh;
    cursor: pointer;
    background: #f9f9f9;
}



.navigator__icones{
    display: flex;
    height: 6vh;
    
    gap: 0 11px;   
}
.navigator-icone{
    padding: 15px 15px;
}
.navigator-icone-video{
    background-image: url(../img/cabecalho/video_call.png);
    background-repeat: no-repeat;
    background-position: center;
}
.navigator-icone-apps{
    background-image: url(../img/cabecalho/apps.png);
    background-repeat: no-repeat;
    background-position: center;
}
.navigator-icone-notifications{
    background-image: url(../img/cabecalho/notifications.png);
    background-repeat: no-repeat;
    background-position: center;
}
.navigator-icone-avatar{
    background-image: url(../img/cabecalho/Avatar.png);
    background-repeat: no-repeat;
    background-position: center;
}