header{
height: 13vh;
}

.navigator{
    align-items: center;
    background: white;
    display: flex;
    height: 13vh;
    justify-content: space-between;
    padding: 0 5vh 0 3.7vh;       
    position: fixed;
    top: 0;
    width: 100%;
}


.navigator__form{
    align-items: center;
    display: flex;
}
.navigator-input-form{
    border: 1px;
    border-color: rgba(128, 128, 128, 0.367);
    border-style: solid;
    font-size: 1rem;
    height: 5.1vh;
    padding: 3px 8px;
    width: 25.1vw;
}
.navigator-input-image-form{    
    background: #f9f9f9;
    border: 1px;
    border-color: rgba(128, 128, 128, 0.367);    
    border-style: solid;
    cursor: pointer;
    height: 5.1vh;
    padding: 6px 8.6px;
}



.navigator__icones{
    display: flex;
    gap: 0 13px;   
    height: 6vh;    
}
.navigator-icone{
    padding: 15px 15px;
}

.navigator-icone-video{
    background-image: url(../img/cabecalho/video_call.png);
    background-repeat: no-repeat;
    background-position: center;
}
.navigator-icone-apps{
    background-image: url(../img/cabecalho/apps.png);
    background-repeat: no-repeat;
    background-position: center;
}
.navigator-icone-notifications{
    background-image: url(../img/cabecalho/notifications.png);
    background-repeat: no-repeat;
    background-position: center;
}
.navigator-icone-avatar{
    background-image: url(../img/cabecalho/Avatar.png);
    background-repeat: no-repeat;
    background-position: center;
}