/*header{
height: 13%;
}

.navigator{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background: white;
    position: fixed;
    top: 0%;
}

.navigator__logoSite{

}*/