@media (min-width:834px) {
    
    body {
        height: 100vh;
    }

    .cabecalho__pesquisar__item{
        display: block;
    }

    .menu__container {
        font-size: 16px;        
        height: auto;
        left: 0;
        top: 80px;
        width: 74px;
    }
    .menu__lista {
        flex-direction: column;
        gap: 33px;    
        justify-content: flex-start;
        padding-top: 15px;    
        padding-top: 15px;
    }
    .menu__lista li {
        width: 100%;
    }
    
    .superior__secao__container {
        border-top: var(--azul-medio) 1px solid;
        border-bottom: var(--azul-medio) 1px solid;
        left: 82px;        
        width: auto;
    }
    
    
    .videos__container {
        padding-left: 90px;
        padding-right: 17px;
    }
    
    .videos__item:hover {
        transform: scale(1.3);
    }      

    .rodape__container {
        height: 420px;
        justify-content: space-between;
        padding-left: 74px;
    }
}





@media(min-width: 1440px) {

    
    /* ESTILOS DO MENU LATERAL */
    
    .menu__lista {
        border-bottom: 1.5px solid var(--azul-medio);
    }
    
    /* SEÇÃO SUPERIOR */

    .superior__secao__container {
        display: flex;
        left: 247px;
    }

    /* ESTILOS VIDEOS */

    .videos__container {
        padding-right: 10px;
        padding-left: 248px;
    }

    /* ESTILOS RODAPÉ */

    .rodape__container {
        height: 225px;
        padding-left: 240px;
    }

}
