*,
*::before,
*::after {
    --azul-escuro: #e7ba08;
    --azul-medio: #f8d857;
    --azul-claro: #f0f69d;
    --cinza-texto: #154580;
    --cinza-medio: #154580a5;
    --cinza-claro: #ECECEC;
    --laranja-logo:#fa8704;
    box-sizing: border-box;
}

body {
    background-color: var(--azul-claro);
    box-sizing: border-box;
    color: var(--cinza-texto);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100vh;
    overflow: auto;
    position: relative;
    text-align: center;
    width: 100%;
}
