.rodape{
    align-items: flex-start;    
    background-color: white;
    color: var(--cinza-texto);
    display: flex;
    flex-flow: row wrap;
    gap: 9px 2px;
    font-size: 1rem;
    justify-content: space-between;
    margin-left: 73px;
    line-height: 1.5;
    padding: 4px 8px 4px 20px;
    width: calc(100% - 73px);
}

.item__menuRodape h2{
    color: var(--azul-medio);
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px 0 20px 0;
}