
@media (max-width:490px){
    /*HEADER*/
    .navigator{      
        padding: 16px;
    }
    .navigator__logoSite{
        font-size: 1.1rem;
        font-weight: 100;       
    }
    .navigator__logoSite span{        
        font-size: 2rem;
        font-weight: 100;        
        right: 20px;
        text-shadow: 6px 4px 5px rgba(6, 9, 177, 0.545); 
        top: 0.4px;
    }
    .navigator__form{
        display: none;
    }
    .navigator__icones{
        display: flex;
        gap: 0 12px;
        height: 6vh;
    }
    .navigator-icone{
        padding: 12px;
    }

    /*MENU*/
    .menu{
        display: flex;
        bottom: 0;
        flex-direction: row;
        height: 60px;
        justify-content: center;
        left: 0;
        padding-top: 0px;
        position: fixed;
        width: 100%;
    }
    .menu__list{
        flex-direction: row;
        gap: initial;
        height: auto;
        justify-content: space-around;
        width: 100%;
    }

    /*MAIN*/
    .atalhos{
        width: 100%;
    }
    .atalhos__lista{
        bottom: 0px;
        left: 0px;
        margin: 0px 0px 0px 0px;
        right: 0px;
    }

    /*VIDEOS*/
    .list__videos{
        margin: 0px 0px 0px 0px;
        width: 100%;
    }

    /*FOOTER*/
    .rodape{
        margin: 0px 0px 0px 0px;
        padding-bottom: 68px;
        width: 100%;
    }


}

