.list__videos{
    color: black;
    display: flex;
    flex-wrap: wrap;  
    gap: 12px;
    justify-content: flex-start;
    margin-left: 85px;
    margin-top: 2vh;
    margin-right: 10px;   
}   

.item-List__videos{    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 303px;
    padding-left: 6px;
    padding-right: 6px;
    width: 280px;
}
.item-List__videos:hover {
    background-color: var(--azul-claro);
    overflow: hidden;
    transform: scale(1.3);
    transition: 0.5s;
    z-index: 2;
    .description__item-List{
        overflow: scroll;        
        white-space: normal;
    }    
}

.item-List__videos iframe{
    height: 72%;
    width: 100%;    
}

.description__item-List{
    display: flex;
    flex-direction: column-reverse;
    line-height: 1.2;
    margin-top: 8px; 
    overflow: hidden;
    row-gap: 8px;
    text-align: start;    
    text-overflow: ellipsis;   
    white-space: nowrap;
}

.description__item-List span{
    font-size: 0.8rem;
    font-weight: 700;
}