
.videos__container {
    color: black;
    padding: 153px 20px 10px 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.videos__item{
    width: 280px;
    height: 303px;
    flex-grow: 1;    
}

.videos__item:hover {
    background-color: var(--azul-claro);
    transform: scale(1.3);
    transition: .5s;
    z-index: 2;
}
.descricao-video{
    display: flex;
    align-items: center;
    height: 70px;
}
.descricao-video img {
    
}   

.descricao-video h3 {
    color: #444444;
    font-weight: 700;
}

.descricao-video p {
    color: #444444;
    font-size: 14px;
}

.descricao-video-textos{
    display: flex;
    flex-direction: column;
    text-align: start;
}

